#### การ Join Sets

###### เชื่อม set 2 Set
มีหลากหลายวิธีในการเชื่อม set เข้าด้วยกันใน Python

เราสามารถใช้คำสั่ง union() โดยค่าที่ได้กลับมาจะเป็น set ใหม่ที่มีข้อมูลจากทั้ง 2 set หรือใช้คำสั่ง update() ในการเพิ่มข้อมูลจาก set นึง ไปยังอีก set นึง

###### ตัวอย่าง
คำสั่ง union() จะส่งคืน set ใหม่ ที่มีข้อมูลจากทั้ง 2 set

In [1]:
set1 = {"Sushi", "Burger", "Salad"}
set2 = {5, 6, 7}
set3 = set1.union(set2)
print(set3)

{7, 5, 'Salad', 'Sushi', 6, 'Burger'}

###### ตัวอย่าง
คำสั่ง update() จะเป็นการเพิ่มข้อมูลจาก set2 ไปยัง set1

Note : ทั้ง 2 คำสั่ง union() และ update() จะไม่รวมข้อมูลที่ซ้ำกัน

In [3]:
set1 = {"Sushi", "Burger", "Salad",5}
set2 = {5, 6, 7}
set1.update(set2)
print(set1)

{7, 5, 'Salad', 'Sushi', 6, 'Burger'}

###### เก็บเฉพาะรายการที่ซ้ำ
ถ้าหากเราต้องการที่จะเก็บเฉพาะรายการที่ซ้ำกันในทั้ง 2 set จะใช้คำสั่ง intersection_update()

###### ตัวอย่าง
เก็บค่าที่ซ้ำกันใน set x และset y

In [4]:
x = {"Sushi", "Burger", "Salad"}
y = {"Salad", "Pizza", "Noodle"}
x.intersection_update(y)
print(x)

{'Salad'}

คำสั่ง intersection() จะส่งค่ากลับมาเป็น set ใหม่ที่มีข้อมูลที่ซ้ำกันจากทั้ง 2 set

###### ตัวอย่าง
ส่งคืนค่าที่ซ้ำกันจาก set x และ set y

In [5]:
x = {"Sushi", "Burger", "Salad"}
y = {"Salad", "Pizza", "Noodle"}
z = x.intersection(y)
print(z)

{'Salad'}

###### เก็บทุกค่า แต่ไม่เอาค่าซ้ำ
คำสั่ง symmetric_difference_update() จะเก็บค่าทุกค่าแต่ไม่เอาค่าซ้ำจากทั้ง 2 set

###### ตัวอย่าง
เก็บเฉพาะค่าที่ไม่ซ้ำจากทั้ง 2 set

In [6]:
x = {"Sushi", "Burger", "Salad"}
y = {"Salad", "Pizza", "Noodle"}
x.symmetric_difference_update(y)
print(x)

{'Sushi', 'Pizza', 'Noodle', 'Burger'}

คำสั่ง symmetric_difference() จะเก็บเฉพาะค่าที่ไม่ซ้ำกันจากในทั้ง 2 set

###### ตัวอย่าง
ส่งคืนค่าทุกค่าจากทั้ง 2 set เฉพาะค่าที่ไม่ซ้ำกันจากในทั้ง 2 set

In [7]:
x = {"Sushi", "Burger", "Salad"}
y = {"Salad", "Pizza", "Noodle"}
z = x.symmetric_difference(y)
print(z)

{'Sushi', 'Pizza', 'Noodle', 'Burger'}